.mainShow {
  .locations-show {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 42px;
    margin-bottom: 24px;
    .link {
      position: absolute;
      left: 209px;
      top: 42px;
      a {
        align-items: center;
        display: flex;
        color: #000;
        font-family: Karla;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        img {
          margin-right: 8px;
        }
        margin-right: 66px;
        text-decoration: none;
      }
    }
    h2 {
      color: #081f32;
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .main-type-dimension {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    span {
      display: block;
      margin-right: 224px;
      p {
        color: #081f32;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.15px;
      }
      &:last-child {
        margin: 0px;
      }
      .type {
        color: #6e798c;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.25px;
      }
    }
  }
  .main {
    padding: 0px 210px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    p:first-child {
      color: #8e8e93;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15px;
      margin-bottom: 24px;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      li {
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14),
          0px 3px 4px 0px rgba(0, 0, 0, 0.12),
          0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        a {
          text-decoration: none;
          p {
            padding-left: 20px;
            color: rgba(0, 0, 0, 0.87);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.15px;
            &:last-child {
              color: rgba(0, 0, 0, 0.6);
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0.25px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .mainShow {
    .locations-show {
      padding-top: 110px;
      .link {
        top: 80px;
        left: 16px;
        a {
          font-size: 12px;
          img {
            width: 12px;
            height: 12px;
          }
        }
      }
      h2 {
        font-size: 32px;
      }
    }
    .main-type-dimension {
      justify-content: space-around;
      span {
        margin-right: 0px;
      }
    }
    .main {
      padding: 10px;
      display: block;
      ul {
        display: block;
        padding: 0px;
        li {
          a {
            img {
              width: 100%;
            }
            p {
              padding-top: 16px;
              margin: 0px;
              &:last-child {
                padding-bottom: 16px;
                padding-top: 0px;
              }
            }
          }
        }
      }
    }
  }
}
