.main-locations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 65px 210px 48px 210px;
  a {
    text-decoration: none;
    padding: 38px 16px;
    text-align: center;
    background-color: #fafafa;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.2);
    white-space: normal;
    overflow-wrap: break-word;
    div {
      h1 {
        color: rgba(0, 0, 0, 0.87);
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.15px;
      }
      p {
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.25px;
      }
    }
  }
}
