.main-locations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 65px 210px 48px 210px;
  a {
    text-decoration: none;
    padding: 38px 16px;
    text-align: center;
    background-color: #fafafa;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.2);
    white-space: normal;
    overflow-wrap: break-word;
    div {
      h1 {
        color: rgba(0, 0, 0, 0.87);
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.15px;
      }
      p {
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.25px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .main-locations {
    display: block;
    padding: 0px 10px;
    a {
      display: block;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 48px;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) and (orientation: landscape) {
  .main-locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 40px 0px 40px;
    margin-bottom: 48px;
    justify-content: center;
  }
}
