.modal-dialog {
  width: 95vw;
  top: 30%;
  .modal-content {
    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div {
        text-align: center;
        select {
          width: 212px;
          padding: 16px 14px;
          border-radius: 8px;
          color: var(--grey);
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin-bottom: 16px;
          position: relative;
          appearance: none;
          background-color: transparent;
          border: 1px solid var(--grey);
          cursor: pointer;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_16_236)'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='black' fill-opacity='0.54'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_236'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: 168px 14px;
          &:last-child {
            margin: 0px;
          }
        }
      }
    }
    .modal-footer {
      width: 100%;
      justify-content: center;
      align-items: center;
      button {
        width: 80%;
        padding: 10px 16px;
        color: #2196f3;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        border-radius: 4px;
        background: #e3f2fd;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24),
          0px 0px 2px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 900px) and (orientation: landscape) {
  .modal-dialog {
    top: 1%;
  }
}
