.filterAndSearch {
  margin-bottom: 65px;
  .episod {
    min-width: 468px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .filterAndSearch {
    .search {
      display: block;
      .episod {
        min-width: 300px;
        font-size: 11px;
      }
      img {
        left: 15%;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .filterAndSearch {
    .search {
      display: block;
      .episod {
        min-width: 300px;
        font-size: 11px;
      }
      img {
        left: 10%;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) and (orientation: landscape) {
  .filterAndSearch {
    .search {
      img {
        left: 24%;
      }
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 390px) and (orientation: landscape) {
  .filterAndSearch {
    .search {
      img {
        left: 21%;
      }
    }
  }
}
